body {
  background-color: bisque;
  margin: 0;
  padding: 20;
}

h1 {
  margin: 30px 0 15px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.cardPost {
  width: 180px;
  background-color: #f5ffa8;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

.cardComment {
  width: 180px;
  background-color: #7dff73;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

.cardAlbum {
  width: 180px;
  background-color: #59e8c9;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

.cardPhoto {
  width: 180px;
  background-color: #ff95ec;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

.cardTodo {
  width: 180px;
  background-color: #ffafaf;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

.cardUser {
  width: 180px;
  background-color: #636186;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

.cardPost img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cardComment img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cardAlbum img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cardPhoto img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cardTodo img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cardUser img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card p {
  margin: 6px;
  font-size: 14px;
}
